@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_header_text{
    font-style: italic; 
    text-align: left;
    color: #fd5f00;
    font-size: 80px;
    /* text-shadow: 0 0 2px #f6f6e9; */
    
}
span{
    font-size: 20px;
    color: white;
    
}
/* main header nav bar style */
.main_header_nav{
 display: flex;
 justify-content: center;
 align-items: center;
}
.main_header_nav li{
    font-size: 25px;
    padding: 10px;
    color: #fd5f00;
    
}

.main_header_nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.main_header_nav a:hover{
    color:#97a6b6;
}
.main_header_nav li:hover{
    color:#d4753a ;
}

/*footer design*/
.footer_box{
    margin-bottom: 0;
}
#maina_header_footer{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
}
span{
    font-size: 14px;
}